*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: gray;
    padding: 40px;
    color: white;
    font-family: tahoma;
}

h1 {
    letter-spacing: 3px;
}
.div {
    height: 80px;
    width: 80px;
    align-items: center;
    font-family: Arial;
}